<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <div class="box">
        <h1>Login Form</h1>
        <form>
            <label>Username:</label>
            <input type="text"><br><br>
            <label>Type of User:</label>
            <select name="Users" id="Users">
                <option value="Healthcare Center">Healthcare Center</option>
                <option value="Post Office">Post Office</option>
                <option value="Insurance Company">Insurance Company</option>
            </select><br><br>
            <label>Password:</label>
            <input type="password"><br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>
